.registro-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 25em;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 1.5em;
  padding: 2.5em;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  text-decoration: none;
}

.social-container a {
  text-decoration: none;
  color: #272b2f;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #272b2f;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.registro-container p {
  margin: 0;
}

.formulario-container button {
  width: 100%;
}